@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*--reset--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--GENERALES--*/
body {
    text-align: center !important;
    font-family: "Poppins" !important;
    background-color: #E3F2F0 !important; 
    color: #000E0E !important;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    color: #000E0E;
    font-size: 40px !important;
    font-weight: 700 !important;
    font-family: "Poppins" !important;
}

h2 {
    color: rgb(43, 43, 43);
    font-size: 32px !important;
    font-weight: 700 !important;
    font-family: "Poppins" !important;
}

h3 {
    font-size: 20px !important;
    font-family: "Poppins" !important ;
    font-weight: 700 !important;
}
h4 {
    font-size: 16px !important;
    font-family: "Poppins" !important ;
    font-weight: 700 !important;
}
h6 {
    font-size: 12px !important;
    font-family: "Poppins" !important ;
    font-weight: 400 !important;
}
p {
    color: #2B3130;
    font-size: 14px;
    font-weight: 400 !important;
    font-family: "Poppins" !important;
    margin-bottom:initial !important;
}